@use "@/styles/variables" as v;

.container {
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: v.$primary-color;

  margin-top: 100px;
}
