@use "bootstrap/dist/css/bootstrap.min.css";
@use "primeicons/primeicons.css";
@use "variables" as *;

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-roboto);
  background: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
