@import "bootstrap/dist/css/bootstrap.min.css"; 
@import "primeicons/primeicons.css";
@import "variables";

html,
body {
  background-color: rgb(218, 214, 214);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-roboto);
  background: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
