// styles/global.scss

// Dış kütüphaneler için @import yerine @use kullanıyoruz
@use "bootstrap/dist/css/bootstrap.min.css";
@use "primeicons/primeicons.css";

// Proje içi SCSS değişkenlerini global hale getiriyoruz
@use "variables" as *;

html,
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-roboto);
  background: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
