@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.main-header {
  top: 0;
  width: 100%;
  text-align: center;
  padding: 4rem 1rem;
  background: v.$gradient-accent;
  background-size: 600% 600%;
  @include m.gradientFlow; // mixin ile animasyonu ekledik
  color: v.$text-color;
  position: absolute;
  box-shadow: 0 5px 20px v.$shadow-color;
  letter-spacing: 1px;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    @include m.bounceIn; // bounceIn animasyonu
    color: v.$accent-color;
  }

  h2 {
    font-size: 1.4rem;
    opacity: 0.8;
    color: v.$text-muted;
    @include m.fadeIn; // fadeIn animasyonu
  }

  &:hover {
    transform: scale(1.02);
    transition: all v.$transition-medium;
  }

  @media (max-width: 400px) {
    padding: 3rem 0.5rem;

    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
}
